<html>
	<body>
		<h1>{{header}}</h1>
		<p>Time: {{time}}</p>
		<h2>Latest posts</h2>
		{{ #posts }}
		<div class="pbox" id="{{pid}}">
		<span class="subject">{{subject}}</span> - <span class="author">{{author}}</span> - <span class="pid">&gt;&gt;/{{board}}/{{pid}}</span>
		<div class="body">{{body}}</div>
		</div><hr>
		{{ /posts }}
		{{ ^posts }}
		<p>No posts to display!</p>
		{{ /posts }}
	</body>
</html>